body
{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}


/* Navigation Bar Section Started....*/
#navbar
{
    margin-right:0px;
    background-color:white;
    height: 55px;
    width: 100%;
    margin-top:0px;
    top: 0;
    position: fixed;
}
#navbar ul
{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-top: 0px;
    font-size: 20px;
    margin-right: 26px;
}
#navbar ul li
{
    float: right;
    margin-left:12px;
}
#navbar ul li a
{
    display: block;
    color:#2f1e1edb;
    text-transform: uppercase;
    font-family:fantasy;
    text-align: center;
    padding: 13px 2px; 
    text-decoration: none;
}
#navbar ul li a:hover
{
    opacity:0.8;
    transition: 0.3s;
    color: #0a7ecc;
}

/* Footer Section Started...*/

#footer
{
    background-color:#0a7ecc;
    width: 100%;   
    bottom: 0;
    position: relative;
    height: 30px;  
}
#footer p
{
    padding: 6px;
    text-align: center;
    color: white;
}


/*Image SlideShow Section...*/
.myimg
{
    height: 550;
    width: 1200;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition: ease 
}
.mySlides
{
    display: none;
        height: 550;
    width: 1200;
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    transition: ease 
}
img
{border-radius: 9px;}

.prev , .next
{
    position: absolute;
    top: 50%;
    font-size: 18px;
    font-weight: bold;
    padding: 16px;
    margin-top: -22px;
    border-radius: 0 3px 3px 0;
    color: #fff;
    cursor: pointer;
}
.next
{
    right: 74;
    border-radius: 3px 0 0 3px;
}
.prev:hover,.next:hover
{
    background-color: rgba(0,0,0,0.8);
}

/*Starting Intro Section */
.random-line-up
{
    height: 16px;
    width: 1200;
    border-radius: 2px;
    margin: auto;
    margin-top: 32px;
    background-color:#0a7ecc; 
}
.random-line-down
{
    height: 16px;
    width: 1200;
    border-radius: 2px;
    margin: auto;
    background-color:#0a7ecc; 
}
.text-for-palm-hospital
{
    background-color: white;
    font-family: Lucida Sans,'Georgia';
    font-size: 20px;
    text-align: justify;
    margin: auto;
    width: 1200;
}

.mid-container
{
    margin: auto;
    float: center;
    margin-left: 76px;
}

.mid-gradient-about
{
    background-image: linear-gradient(180deg,#2b87da 0%,#29c4a9 100%);
    height: 500px;
    width: 1178px;
    padding: 10px 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 76px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 3px;
}

.mid-gradient-about ul
{
    margin-left: 10px;
    font-size: 26px;
    text-align: left;
}

.simple-gradient-line
{
    height: 1px;
    width: 97%;
    margin-top: 0px;
    border-radius: 2px;
    margin: auto;
    background-color:white; 
}

/*OUR SERVICES CONTAINER*/

.our-service-main
{
    background-color: white;
    margin-top: 75px;
    margin-left: 85px;
    margin-right: 85px;
}
.our-service-main h1
{
    font-family: cooper black;
    font-weight:bold;
    color: #0a7ecc;
    color: black;
}
.our-service-textp
{
    background-color: white;
    margin-left: 85px;
    width: 743px;
    text-align: justify;
    font-weight: bold;
    font-family:Adobe Hebrew;
    white-space: 4px;
    font-size: 26px;
}

.our-service-textp ul li
{
    font-family: Amaranth;
    font-weight: bold;
    color: #0a7ecc;
}

.our-service-image-container
{
    float: right;
    margin-right: 85px;
}


/*OUR-SPECIALITIES SECTION*/
.main-body-of-speciality
{
    margin-top: 70px;
    height: 150px;
    margin-left:85px;
    margin-right: 85px;
}
.our-speciality-image-container
{
    position: absolute;
    float: left;
    height: 150px;
    width: 150px;
}

.our-speciality-header
{
    height: 30px;
    width: 1046px;
    float: right;
}

.our-speciality-header h3
{
    margin-top: 0px;
    margin-left: 12px;
    font-family: verdana;
    color: #0a7ecc;
}

.our-speciality-textarea
{
    height: 120px;
    width: 1046px;
    float: right;
}

/*LAB-SERVICES SECTION*/
.lab-main
{
    margin-top: 80px;
    margin-left: 85px;
    margin-right: 85px; 
}


/*ALL TIME SERVICES*/

.all-time-services-main
{
    height: 100%;
    margin-left: 85px;
    margin-right: 85px;
    background-color:white;
}
.all-time-image-container
{
    margin-top: 90;
}
.all-time-image-container img
{
    float: right;
    height: 636;
    width: 460;
}

.all-time-text-container
{
    margin-top: -650px;
    float: left;
}

/*ABOUT US SECTION..*/

.about-us-main
{
    margin-top: 80px;
    margin-left: 85px;
    margin-right: 85px;
    height: 100%;
}

.about-us-textarea
{
    float: left;
    width: 839px;
}
.about-us-image-container
{
    float: right;
    margin-right: -10px;
}

/*CONTACT-US SECTION....*/
.contact-us-main
{
    margin-right: 85px;
    margin-top: 80px;
    margin-left: 85px;
}


/* Full-width input fields */
input[type=text], input[type=Email], input[type=tel], select[type=list], input[type=Date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
